.chat {
  min-height: 85%;
  display: flex;
  //   margin-top: -20px;
  flex-direction: column;
  &-data {
    margin-top: 40px;
    &-item {
      margin-bottom: 20px;
      &-question {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        &-text {
          display: flex;
          align-items: center;
          min-height: 50px;
          border-radius: 7px;
          padding: 0 10px;
          max-width: 60%;
          box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
            22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
            100px 100px 80px rgba(0, 0, 0, 0.07);
          background-color: rgb(213, 213, 213);
        }
        img {
          width: 40px;
          border-radius: 50%;
        }
      }
      &-answer {
        display: flex;
        gap: 20px;
        &-text {
          border-radius: 7px;
          padding: 20px 10px;
          min-height: 50px;
          max-width: 70%;
          box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
            100px 100px 80px rgba(0, 0, 0, 0.07);
          background-color: rgb(242, 242, 242);
          &-text {
            margin-bottom: 20px;
            font-weight: 500;
          }
          &-graph {
            margin-top: 20px;
          }
        }
      }
    }
  }
  &-input {
    margin-top: auto;
    margin-bottom: 25px;
    input {
      border-radius: 11px !important;
      background-color: white;
      box-shadow: 100px 100px 80px rgba(0, 0, 0, 0.07);
      border-width: 2px !important;
    }
  }
}
