.connections {
  &-list {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    grid-gap: 20px;
    margin-bottom: 24px;
    &-item,
    &-item-disabled {
      width: 100%;
      min-height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 11px;
      cursor: pointer;
      background-color: white;
      border: 1px solid rgb(174, 174, 174);
      box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        100px 100px 80px rgba(0, 0, 0, 0.07);
      &:hover {
        background-color: rgb(243, 254, 255);
      }
    }
    &-item-disabled {
      background-color: rgb(239, 239, 239);
      cursor: not-allowed;
      &:hover {
        background-color: rgb(239, 239, 239);
      }
    }
  }
}

.input-form {
  margin-bottom: 1rem !important;
}

.select-input-form {
  margin-top: 10px !important;
}
.dialog-main {
  padding: 20px 10px;
}
